* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica;

  background-image: url(kelly/1.5.jpg);
  background-size: cover;
  background-position: left;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 60px;
}

header {
  font-style: italic;
  background-color: rgb(160, 205, 220);
  color: #fff;
  padding: 20px;
  text-align: center;
}
header h1 {
  font-size: 36;
  color: rgb(225, 253, 255);
  font-style: inherit;
}
header ul {
  list-style: circle;
}
header ul li {
  display: inline;
  margin-left: 20px;
}
header ul li a {
  text-decoration: dotted;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

img {
  border-radius: 25px;
  border-left: 6px solid rgb(56, 52, 52);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(160, 205, 220);
  color: white;
  text-align: center;
}
